<!-- <p>add-product works!</p> -->
<div class="bg-image" style="background-image: url('https://cdn.pixabay.com/photo/2017/01/22/19/12/pizza-2000600_960_720.jpg');  background-size: cover;">
<section class="vh-100 ">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Add Product</h2>

              <form ngNativeValidate #addData="ngForm" (ngSubmit)="addProduct(addData)">


                <div class="form-outline mb-4">
                    <input required type="text"
                    class="form-control"
                    ngModel 
                    id="name" 
                    name="name"
                    #name ="ngModel"
                    placeholder="Enter the product name">
                    <!-- <label class="form-label" for="form3Example1cg">Name</label> -->
                </div>

                <div class="form-outline mb-4">
                  <div required class="form-check">
                    <input class="form-check-input" value= true type="radio" name="flexRadioDefault" ngModel 
                    id="type" 
                    name="type"
                    #type ="ngModel">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Veg
                    </label>
                  </div>
                  <div required class="form-check">
                    <input class="form-check-input" value= false type="radio" name="flexRadioDefault" ngModel 
                    id="type" 
                    name="type"
                    #type ="ngModel">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Non-Veg
                    </label>
                  </div>
                  <!-- <input type="text"
                  class="form-control"
                  ngModel 
                  id="type" 
                  name="type"
                  #type="ngModel"
                  placeholder="Enter the product type"> -->
              </div>

              <div required class="form-outline mb-4">
                <input type="text"
                class="form-control"
                ngModel 
                id="about" 
                name="about"
                #about ="ngModel"
                placeholder="Enter about the product">
                <!-- <label class="form-label" for="form3Example1cg">Name</label> -->
            </div>

            <div required class="form-outline mb-4">
              <input type="number"
              class="form-control"
              ngModel 
              id="availability" 
              name="availability"
              #availability ="ngModel"
              placeholder="Enter the product availability">
              <!-- <label class="form-label" for="form3Example1cg">Name</label> -->
          </div>

          <div required class="form-outline mb-4">
            <input type="number"
            class="form-control"
            ngModel 
            id="price" 
            name="price"
            #price ="ngModel"
            placeholder="Enter the product price">
        </div>
                <button type="submit" class="btn btn-secondary">Submit</button>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>