<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand display-4" href="">FOOD APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li><a *ngIf="isloggedIn" class="nav-link active" [routerLink]="['']">Home <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a *ngIf="isloggedIn && !isStaff"  class="nav-link" routerLink="menu-list" href="#">Menu</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isloggedIn && !isStaff"  class="nav-link" [routerLink]="['product-list']" href="#">Product</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isloggedIn"  class="nav-link" routerLink="orders" href="#">Orders</a>
      </li>  
      <li><a *ngIf="!isloggedIn" class="nav-link" [routerLink]="['/register']">Register</a></li>
      <li><a *ngIf="!isloggedIn" class="nav-link" [routerLink]="['/login']" href="#">LOGIN</a></li>
      <li><a *ngIf="isloggedIn" style="cursor:pointer ;" class="nav-link " (click)="logout()"><button class="btn btn-outline-danger" style="left:90%; position:fixed;">Logout</button></a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>