<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">maxRonald's</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active"  [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      
      <a *ngIf="isStaff" class="nav-link" [routerLink]="['/addProduct']" href="#">add Product</a>
      <a  class="nav-link" [routerLink]="['/register']">Register</a>
      <a class="nav-link" [routerLink]="['/login']" href="#">LOGIN</a>

      <a *ngIf="isloggedIn" class="nav-link " (click)="logout()">LOGOUT</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>