<div class=""
  style="background-image: url('https://cdn.pixabay.com/photo/2017/04/12/16/56/chocolates-2224998__340.jpg'); background-size: contain; ">
  <section class="vh-200 ">
    <div class="d-flex align-items-center h-100">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-9 col-xl-10 py-5">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class=" display-4 mb-5">Create new menu</h2>
                <form ngNativeValidate #addMenuList="ngForm" (ngSubmit)="addMenu(addMenuList)">
                  <div required class="mb-4">
                    <input type="text" class="form-control form-control-lg" ngModel id="name" name="name" #name="ngModel"
                      placeholder="Enter the Menu name">
                  </div>
                  <div required class="container" *ngIf="menu_obj.foodProducts.length>0"><br><br>
                    <h4 >Added product</h4>
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let p of menu_obj.foodProducts">
                          <td>{{p.name}}</td>

                          <td><button class="btn btn-secondary" (click)="deleteProduct(p.id)">Delete</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <button type="submit" class="btn btn-secondary">Submit</button>
                </form>
                <div required class="container"><br><br>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" class="tds">Id</th>
                        <th scope="col" class="tds">Name</th>
                        <th scope="col" class="tds">Type</th>
                        <th scope="col" class="tds">About</th>
                        <th scope="col" class="tds">Availability</th>
                        <th scope="col" class="tds">Price</th>
                        <th scope="col" class="tds">Add</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let f of result">
                        <td class="tds">{{f.id}}</td>
                        <td class="tds">{{f.name}}</td>
                        <td class="tds">{{f.type?"Veg":"Non-Veg"}}</td>
                        <td class="tds">{{f.about}}</td>
                        <td class="tds">{{f.availability}}</td>
                        <td class="tds">{{f.price}}</td>
                        <td class="tds"><button class="btn btn-secondary" (click)="addProduct(f.id , f.name)"
                            type="button">Add</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>