<div
  style="background-image: url('https://cdn.pixabay.com/photo/2017/01/22/19/12/pizza-2000600_960_720.jpg'); background-size:contain; margin-top:30px;">
  <section>
    <div class="d-flex align-items-center py-5">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-md-9 col-lg-9 col-xl-10">
            <div class="card" style="border-radius: 15px;">
              <div class="container px-5"><br><br>
                <div class="d-flex py-2 align-items-center">
                  <h2 class="display-4">Food products</h2>
                  <button class="btn btn-primary" routerLink="/add-product" style="margin-left: 400px; height: 40px;">ADD PRODUCT</button>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col" class="tds">Type</th>
                      <th scope="col" class="tds">About</th>
                      <th scope="col" class="tds">Availability</th>
                      <th scope="col" class="tds">Price</th>
                      <th scope="col" class="tds">Update</th>
                      <th scope="col" class="tds">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let f of result">
                      <td>{{f.name}}</td>
                      <td class="tds">{{f.type?"Veg":"Non-Veg"}}</td>
                      <td class="tds">{{f.about}}</td>
                      <td class="tds">{{f.availability}}</td>
                      <td class="tds">{{f.price}}</td>
                      <td class="tds"><button class="btn btn-primary" type="button"
                          [routerLink]="['/edit-product/',f.id]">Update</button></td>
                      <td class="tds"><button class="btn btn-secondary" (click)="deleteProduct(f.id)">Delete</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>