<div class="container" style="margin-top:45px;">
  <h2 class="display-4 pt-3">Menu</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
    <div class="card h-100" style="max-width:450px;">
      <div class="card-body text-center">
        <div class="container justify-content-center" style="min-height:360px; padding-top:100px;">
          <input type="image" [routerLink]="['/add-menu/']" src="https://img.icons8.com/ultraviolet/120/000000/plus--v1.png" alt="">
          <h5>ADD MENU</h5>
        </div>
      </div>
    </div>
    <div *ngFor="let m of result" class="col">
      <div class="card h-100">
        <img src="https://cdn.pixabay.com/photo/2016/05/21/14/09/food-1406883__340.jpg" class="card-img-top"
          alt="Hollywood Sign on The Hill" />
        <div class="card-body text-center">
          <h3>{{m.name}}</h3>
          <hr>
          <div class="container d-flex justify-content-center">
            <td><button class="btn btn-secondary" style="margin-right: 137px;" type="button"
                [routerLink]="['/edit-menu/', m.id]">Update</button></td><br>
            <td><button class="btn btn-secondary" (click)="deleteMenu(m.id)">Delete</button></td>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>